*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li, p, a, b, i, span, article, figure, header, footer, section, hgroup, fieldset {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

object, embed {
  outline: 0;
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

.op0 {
  opacity: 0 !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.resetBtn, .btn-filter {
  outline: 0;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.resetLink {
  text-decoration: none;
  color: inherit;
}

.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ttu {
  text-transform: uppercase;
}

.tac {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

@font-face {
  font-family: "Bariol";
  src: url(fonts/Bariol_Regular.otf);
}

@font-face {
  font-family: "Bariol";
  src: url(fonts/Bariol_Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Gentona";
  src: url(fonts/Gentona.otf);
}

@font-face {
  font-family: "Gentona";
  src: url(fonts/Gentona_ExtraBold_DEMO.otf);
  font-weight: bolder;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(fonts/ProximaNova-Extrabld.otf);
  font-weight: bolder;
}

footer {
  background: url(../img/icon/pattern.jpg);
  color: white;
}
footer .links {
  margin: 0 auto;
  text-align: center;
  line-height: 18.75em;
  vertical-align: middle;
}
@media (max-width: 520px) {
  footer .links {
    height: 18.75rem;
    line-height: 1em;
    padding-top: 4.9375rem;
    font-size: 150%;
  }
}
footer h3 {
  text-transform: uppercase;
  font-family: Gentona;
  font-size: 1.875em;
  display: inline-block;
  padding-right: 1.5em;
}
@media (max-width: 520px) {
  footer h3 {
    display: block;
    padding: 0;
    text-align: center;
    margin-bottom: 2.0625rem;
  }
}
footer span {
  font-family: Bariol;
  font-size: 1.0625em;
  padding-left: 2em;
}
@media (max-width: 520px) {
  footer span {
    display: block;
    padding: 0;
    margin-bottom: 0.875rem;
  }
}
@media (max-width: 780px) {
  footer {
    font-size: 80%;
  }
}
@media (max-width: 645px) {
  footer {
    font-size: 65%;
  }
}

.logo-joel {
  position: absolute;
  top: 4.0625em;
  left: 14.714285714%;
  width: 12.142857143%;
  width: 10.625em;
  z-index: 1;
}
@media (max-width: 1024px) {
  .logo-joel {
    top: 3.125rem;
    left: 4.8828125%;
  }
}
@media (max-width: 320px) {
  .logo-joel {
    display: none;
  }
}

.hamburger-icon {
  display: block;
  width: 1.8125rem;
  height: 1.4375rem;
  width: 2.8125rem;
  height: 2.8125rem;
  position: fixed;
  top: 3.625em;
  right: 12.142857143%;
  z-index: 20;
  cursor: pointer;
}
.hamburger-icon .meat, .hamburger-icon .meat:before, .hamburger-icon .meat:after {
  width: 1.8125rem;
  height: 0.3125rem;
  background: white;
  border-radius: 20px;
}
.hamburger-icon .meat:before, .hamburger-icon .meat:after {
  content: "";
  position: absolute;
}
.hamburger-icon .meat {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.hamburger-icon .meat:before {
  top: -0.5625em;
}
.hamburger-icon .meat:after {
  top: 0.5625em;
}
@media (max-width: 1024px) {
  .hamburger-icon {
    top: 2.625rem;
    right: 4.8828125%;
  }
}
@media (max-width: 320px) {
  .hamburger-icon {
    top: 0.375em;
    right: 0.3125em;
    width: 4.3125rem;
    height: 4.125rem;
    background: #201c1d;
    border-radius: 1.25em;
  }
}

.hamburger-icon-dark {
  display: none;
}

.nav-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(3, 3, 3, 0.95);
  padding-top: 3.75em;
  text-align: center;
}

.nav-close {
  background: url('data:image/svg+xml;utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35.983px" height="35.984px" viewBox="0 0 35.983 35.984" enable-background="new 0 0 35.983 35.984" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M1.251,35.984L0.568,35.33L34.733,0l0.682,0.654L1.251,35.984z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M0,1.249l0.654-0.683l35.33,34.17l-0.653,0.683L0,1.249z"/></svg>') no-repeat center;
  width: 2.25rem;
  height: 2.25rem;
  background-size: 100%;
  margin: 0 auto 5.3125em;
  cursor: pointer;
}

.nav-links li {
  margin: 0 auto 3.75em;
}

.nav-white a {
  font-size: 1.875em;
  color: white;
  font-family: Bariol, Arial;
  text-decoration: none;
}

.nav-about a:hover {
  color: #febd10;
}

.nav-work a:hover {
  color: #c81ca2;
}

.nav-email a {
  background: url("../img/icon/email.png");
  display: block;
  margin: 0 auto;
  width: 2.4375rem;
  height: 1.5625rem;
  background-size: 100%;
}
.nav-email a:after {
  content: url(../img/icon/email-hover.png);
  display: none;
}

.nav-email a:hover {
  background: url(../img/icon/email-hover.png);
  background-size: 100%;
}

.nav-fb {
  width: 3.75em;
  height: 3.125em;
  position: relative;
  top: 0.4375em;
}

.nav-fb a {
  display: block;
  background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8.207px" height="17.008px" viewBox="0 0 8.207 17.008" enable-background="new 0 0 8.207 17.008" xml:space="preserve"><path fill="#FFFFFF" d="M0,5.625h1.758V3.916C1.758,3.162,1.777,2,2.325,1.28C2.901,0.518,3.693,0,5.054,0 c2.218,0,3.152,0.316,3.152,0.316L7.767,2.921c0,0-0.733-0.212-1.417-0.212c-0.684,0-1.296,0.245-1.296,0.929v1.986h2.804 L7.663,8.169H5.054v8.839H1.758V8.169H0V5.625z"/></svg>') no-repeat center;
  background-size: 30%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav-fb a:hover {
  background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8.207px" height="17.008px" viewBox="0 0 8.207 17.008" enable-background="new 0 0 8.207 17.008" xml:space="preserve"><path fill="#1d5cc5" d="M0,5.625h1.758V3.916C1.758,3.162,1.777,2,2.325,1.28C2.901,0.518,3.693,0,5.054,0 c2.218,0,3.152,0.316,3.152,0.316L7.767,2.921c0,0-0.733-0.212-1.417-0.212c-0.684,0-1.296,0.245-1.296,0.929v1.986h2.804 L7.663,8.169H5.054v8.839H1.758V8.169H0V5.625z"/></svg>') no-repeat center;
  background-size: 30%;
}

.nav-cv a {
  font: bolder 2.125em Gentona, Arial;
}
.nav-cv a:hover {
  border-bottom: 0.058823529em solid white;
}

.intro-text {
  position: absolute;
  top: 15.0625em;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 18.125em;
  height: 8.125em;
  text-align: center;
  z-index: 1;
}
@media (max-width: 320px) {
  .intro-text {
    font-size: 80%;
    width: 100%;
    padding: 2.34375em 1.5625em 0;
    top: 10.9375em;
    padding-top: 3.125em;
  }
}

.title-white {
  font-family: Gentona, Arial;
  font-size: 6.875em;
  color: white;
}

.intro__text {
  font-family: Bariol, Arial;
  font-size: 1.375em;
  line-height: 1.4375em;
  color: white;
  font-weight: normal;
}
@media (max-width: 320px) {
  .intro__text {
    font-size: 1.5625em;
  }
}

.line-color {
  background: #c81ca2;
  height: 0.625em;
  border-radius: 1em;
  width: 66%;
  margin: 0 auto;
  -webkit-transition: background 0.9s;
  transition: background 0.9s;
}
@media (max-width: 320px) {
  .line-color {
    font-size: 0.625em;
    width: 31.25%;
  }
}

.sweetarts .line-color {
  background: #c81ca2;
}

.london .line-color {
  background: #1c93c8;
}

.lasagna .line-color {
  background: #75ae11;
}

.zermatt .line-color {
  background: #febd10;
}

@media (max-width: 320px) {
  .intro-text__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.nav-widget {
  font-family: Bariol;
  font-weight: bold;
  margin: 0 auto;
  width: 15.5%;
  width: 13.5625em;
  height: 2.75em;
  position: relative;
  top: 42.3125em;
  margin: 0 auto;
  border-radius: 1.125em;
  border-radius: 10em;
  padding-top: 0.75em;
  padding-left: 1.6875em;
  color: #1c1c1c;
  transition: background 0.9s;
}

.bg-grad {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1.125em;
  border-radius: 10em;
  opacity: 1;
  transition: opacity 0.9s;
}
.bg-grad:after {
  content: attr(data-slide);
  font-size: 0.9375em;
  top: 0.8em;
  position: absolute;
  padding-left: 0.4em;
  text-transform: capitalize;
  padding-left: 3.133333333em;
}
@media (max-width: 320px) {
  .bg-grad {
    top: 27.8em;
  }
}

.bg-grad[data-slide="sweetarts"] {
  background: #d723af;
  background: -webkit-gradient(linear, left top, left bottom, from(#da25b2), to(#c81ca2));
  background: -moz-linear-gradient(top, #da25b2, #c81ca2);
  background: -ms-linear-gradient(top, #da25b2, #c81ca2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#da25b2, endColorstr:#c81ca2);
  background: gradient(linear, top, bottom, from(#da25b2), to(#c81ca2));
}
.bg-grad[data-slide="sweetarts"]:after {
  content: "SweeTarts";
}

.bg-grad[data-slide="london"] {
  background: #1c93c8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2dade6), to(#1c93c8));
  background: -moz-linear-gradient(top, #2dade6, #1c93c8);
  background: -ms-linear-gradient(top, #2dade6, #1c93c8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#2dade6, endColorstr:#1c93c8);
  background: gradient(linear, top, bottom, from(#2dade6), to(#1c93c8));
}

.bg-grad[data-slide="lasagna"] {
  background: #75af11;
  background: -webkit-gradient(linear, left top, left bottom, from(#97da22), to(#75af11));
  background: -moz-linear-gradient(top, #97da22, #75af11);
  background: -ms-linear-gradient(top, #97da22, #75af11);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#97da22, endColorstr:#75af11);
  background: gradient(linear, top, bottom, from(#97da22), to(#75af11));
}

.bg-grad[data-slide="zermatt"] {
  background: #febd10;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcb3f), to(#febd11));
  background: -moz-linear-gradient(top, #ffcb3f, #febd11);
  background: -ms-linear-gradient(top, #ffcb3f, #febd11);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#ffcb3f, endColorstr:#febd11);
  background: gradient(linear, top, bottom, from(#ffcb3f), to(#febd11));
}

.london .nav-widget .widget-icon {
  background: url(../img/icon/location.png) no-repeat;
  background-size: 0.75em 0.9375em;
}

.lasagna .nav-widget .widget-icon {
  background: url(../img/icon/utensils.png) no-repeat;
  background-size: 1em 1em;
  width: 1em;
  margin-left: -0.1875em;
}

.zermatt .nav-widget .widget-icon {
  background: url(../img/icon/location.png) no-repeat;
  background-size: 0.75em 0.9375em;
}

.widget-icon {
  margin-top: 0.125em;
  float: left;
  background: url('data:image/svg+xml;utf8, <svg version="1.1" id="All_glyphs" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70px" height="90px" viewBox="0 0 70 90" enable-background="new 0 0 70 90" xml:space="preserve"><g><path d="M21.113,49.348h28v-9h-28V49.348z M60,0H10C4.5,0,0,4.5,0,10v70c0,5.5,4.5,10,10,10h50c5.5,0,10-4.5,10-10V10 C70,4.5,65.5,0,60,0z M60,80H10V10h50V80z M49,20.848H21v8.75h28V20.848z M49,60.098H21v8.75h28V60.098z"/></g></svg>') no-repeat center;
  height: 1em;
  width: 0.8125em;
  background-size: 100%;
  display: inline-block;
  position: absolute;
  left: 1.5625em;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
}

.widget-btn {
  outline: 0;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  background: white;
  float: right;
  height: 100%;
  position: absolute;
  top: 0;
  width: 2.5em;
  cursor: pointer;
}

.widget-btn.next {
  right: 0;
  border-radius: 0 1.125em 1.125em 0;
  border-radius: 0 10em 10em 0;
  background: white url(../img/icon/next.png) no-repeat;
  background-position: center;
  background-size: 0.5em 0.9375em;
}

.widget-btn.prev {
  right: 2.5em;
  background: white url(../img/icon/prev.png) no-repeat;
  background-position: center;
  background-size: 0.5em 0.9375em;
}

.down-arrow-white {
  background: url(../img/icon/down-arrow.png) no-repeat center;
  background-size: 1.9375em 0.75em;
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
  margin: auto;
  width: 2.875rem;
  height: 1.875rem;
  cursor: pointer;
}
@media (max-width: 320px) {
  .down-arrow-white {
    bottom: 1.25em;
  }
}

.section-work {
  text-align: center;
  padding-top: 7.5em;
  padding-bottom: 4.375em;
  position: relative;
}
@media (max-width: 320px) {
  .section-work {
    padding-top: 3.125rem;
    font-size: 90%;
  }
}

.title-dark {
  font-family: Gentona, Arial;
  font-size: 5em;
  margin-bottom: 0.3125em;
  color: #242424;
}

.sub-text {
  font-family: Bariol;
  font-size: 1.5em;
  color: #424242;
  margin-bottom: 1.5625em;
}

.btn-filter {
  font-size: 1em;
  width: 11.6875em;
  height: 3.625em;
  vertical-align: bottom;
}
@media (max-width: 320px) {
  .btn-filter {
    font-size: 110%;
  }
}

.btn-filter .left-side, .btn-filter .down-arrow-box {
  float: left;
  height: 100%;
}

.btn-filter .left-side {
  font: bold 1.25em Bariol, Arial;
  color: #232323;
  width: 6.3em;
  line-height: 2.95em;
  vertical-align: middle;
  background: #1c93c8;
}

.down-arrow-box {
  display: block;
  width: 3.8125em;
  background: #1fa2dc url(../img/icon/down-black.png) no-repeat center;
  background-size: 1.25em 0.6875em;
}

.selected .down-arrow-box {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: flipv;
  -ms-filter: "flipv";
}

.filter-list {
  display: none;
  width: 11.6875em;
  margin: 0 auto;
  position: relative;
  z-index: 110;
}

.selected .filter-list {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.filter-list .list-elem {
  position: relative;
  font: bold 1.25em Bariol, Arial;
  color: #242424;
  background: #1c7ca6;
  height: 3em;
  border-bottom: 1px solid #1fa1db;
  line-height: 3em;
}

.close-blue {
  font-size: 1em;
  width: 1.3125rem;
  height: 1.3125rem;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="11.599px" height="11.192px" viewBox="0 0 11.599 11.192" enable-background="new 0 0 11.599 11.192" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" fill="#242424" d="M10.899,0.293c0.391,0.391,0.391,1.023,0,1.414l-9.192,9.192  c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414l9.192-9.192C9.876-0.098,10.509-0.098,10.899,0.293z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#242424" d="M11.311,10.811c-0.384,0.384-1.006,0.384-1.391,0L0.882,1.772  c-0.384-0.384-0.384-1.007,0-1.391c0.384-0.384,1.006-0.384,1.391,0l9.038,9.038C11.695,9.804,11.695,10.427,11.311,10.811z"/></svg>') no-repeat center;
  background-color: #20a2dc;
  background-size: 0.6875em 0.6875em;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 0.25em;
  bottom: 0;
  right: 0.625em;
  margin: auto;
}

.collage-ct {
  max-width: 87.5rem;
  margin: 0 auto;
  position: relative;
  padding-bottom: 19.75rem;
}

.overlay-collage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: black;
  opacity: 0.85;
}

.work-collage {
  padding-bottom: 3.625rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.work-collage img:after {
  content: "";
  position: absolute;
  background: red;
  width: 0.625rem;
  height: 0.625rem;
  z-index: 10;
}

.work-collage img {
  vertical-align: top;
}

.elem {
  vertical-align: top;
  cursor: pointer;
}
.elem:after {
  content: "";
  background: url(../img/icon/open-overlay.png) no-repeat;
  width: 3.125rem;
  height: 3.125rem;
  background-size: 100%;
  position: absolute;
  bottom: 1.3125rem;
  right: 1.25rem;
  opacity: 0;
  transition: opacity 0.3s;
}
.elem:hover:after {
  opacity: 1;
}

.swipe-ct .swipe-slide[data-slide="sweetarts"] {
  background-image: url(../img/sweetarts.jpg);
}
.swipe-ct .swipe-slide[data-slide="lasagna"] {
  background-image: url(../img/lasagna.jpg);
}
.swipe-ct .swipe-slide[data-slide="london"] {
  background-image: url(../img/london.jpg);
}
.swipe-ct .swipe-slide[data-slide="zermatt"] {
  background-image: url(../img/zermatt.jpg);
}

.swipe-ct {
  width: 440%;
}

.banner {
  width: 100%;
  overflow: hidden;
}

.banner .swipe-ct {
  float: left;
  display: inline;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.swipe-ct .swipe-slide {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 52.75em;
  color: white;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 52.75em;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  float: left;
}
@media (max-width: 480px) {
  .swipe-ct .swipe-slide {
    background-size: 60.344827586em 36.293103448em;
    background-position: top;
    height: 35.5em;
  }
}

.banner {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 52.75em;
  position: relative;
}
@media (max-width: 480px) {
  .banner {
    background-size: 60.344827586em 36.293103448em;
    background-position: top;
    height: 35.5em;
  }
}

.banner.about {
  background-image: url(../img/test.jpg);
}

.title-about {
  font: bolder 4.375rem Gentona, Arial;
  color: white;
  position: absolute;
  bottom: 7.5rem;
  text-align: center;
  width: 100%;
}
@media (max-width: 480px) {
  .title-about {
    font-size: 3.125rem;
    bottom: 7.0625rem;
  }
}

.about__text-white {
  bottom: 5.625rem;
}
@media (max-width: 480px) {
  .about__text-white {
    bottom: 3.3125rem;
  }
}

.text-white {
  font-family: Bariol, Arial;
  line-height: 1.4375em;
  color: white;
  font-weight: normal;
  font-size: 1.625rem;
  position: absolute;
  text-align: center;
  width: 100%;
  font-style: italic;
}
@media (max-width: 320px) {
  .text-white {
    font-size: 1.5625em;
  }
}
@media (max-width: 480px) {
  .text-white {
    font-size: 1.25rem;
    line-height: 1.2em;
    width: 11.1875rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.title-content {
  font: bolder 3.4375rem Proxima Nova, Arial;
  color: #242424;
  text-align: center;
  padding-top: 9.625rem;
  position: relative;
}
@media (max-width: 480px) {
  .title-content {
    font-size: 2.5rem;
    padding-top: 8.75rem;
  }
}
@media (max-width: 296px) {
  .title-content {
    font-size: 1.875rem;
  }
}
.title-content:after {
  content: "";
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" fill="#242424" d="M32.813,28.438L17.5,35L2.188,28.438C0.979,28.438,0,27.458,0,26.25  V2.188C0,0.979,0.979,0,2.188,0h2.188v0.938L17.5,6.563l13.125-5.625V0h2.188C34.021,0,35,0.979,35,2.188V26.25  C35,27.458,34.021,28.438,32.813,28.438z M4.375,24.063l10.938,5.469V10.208L4.375,6.563V24.063z M30.625,6.563l-10.938,3.646 v19.323l10.938-5.469V6.563z"/></svg>') no-repeat center;
  position: absolute;
  top: 6.4375rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  left: 0.8125rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media (max-width: 320px) {
  .title-content:after {
    top: 4.9375rem;
  }
}

.content-sub {
  text-transform: uppercase;
  font: bolder 1.625rem Proxima Nova, Arial;
  color: #242424;
  text-align: center;
  padding-top: 4.8125rem;
}
@media (max-width: 480px) {
  .content-sub {
    font-size: 1.5625rem;
  }
}
@media (max-width: 320px) {
  .content-sub {
    font-size: 1.4375rem;
  }
}
@media (max-width: 296px) {
  .content-sub {
    font-size: 1.125rem;
  }
}

.content-sub.first {
  padding-top: 5.625rem;
}
@media (max-width: 296px) {
  .content-sub.first {
    padding-top: 3.75rem;
  }
}

.content-text {
  font: 1.375rem Bariol, Arial;
  width: 43.857142857%;
  width: 80%;
  max-width: 38.1875rem;
  margin: 0 auto;
  color: #424242;
  line-height: 1.64em;
  padding-top: 2.5rem;
}
.content-text:last-child {
  background: red;
}

.link-lb {
  color: #1c93c8;
  text-decoration: none;
  border-bottom: 1px solid #a7cde4;
}

.frame-map {
  background: url(../img/frame-map.jpg) no-repeat center;
  background-size: 100%;
  width: 47em;
  height: 34.5em;
  max-width: 47em;
  position: relative;
  margin: 7.25em auto 20.9375em;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 900px) {
  .frame-map {
    font-size: 80%;
  }
}
@media (max-width: 670px) {
  .frame-map {
    font-size: 60%;
  }
}
@media (max-width: 594px) {
  .frame-map {
    font-size: 40%;
  }
}
@media (max-width: 300px) {
  .frame-map {
    width: 80%;
  }
  .frame-map .map-img:before, .frame-map .map-img:after, .frame-map .location-pin {
    display: none;
  }
}

.map-img:before {
  content: attr(data-place);
  font: 1.25em Bariol, Arial;
  color: white;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: 0.35s opacity;
  height: 5em;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  text-align: center;
}

.map-img.br:before {
  max-width: 50%;
  line-height: 1em;
}

.map-img:after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.35s opacity;
}

.map-img:hover:after, .map-img:hover:before, .map-img:hover .location-pin path {
  opacity: 1;
}

.location-pin {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 6.875em;
}
@media (max-width: 594px) {
  .location-pin {
    width: 20%;
  }
  .w2 .location-pin {
    width: 12%;
  }
}
.location-pin path {
  opacity: 0;
  transition: 0.35s opacity;
}

.pin-blue path {
  fill: #1c93c8;
}

.pin-ppl path {
  fill: #c81ca2;
}

.pin-orange path {
  fill: #fe8d00;
}

.pin-lorange path {
  fill: #febd10;
}

.pin-green path {
  fill: #75ae11;
}

.frame-map .photo1 {
  position: absolute;
  width: 11.9375em;
  height: 13.75em;
  top: 3.0625em;
  left: 3.125em;
}

.frame-map .photo2 {
  position: absolute;
  width: 18.5625em;
  height: 13.6875em;
  top: 3.0625em;
  left: 15.375em;
}

.frame-map .photo3 {
  position: absolute;
  width: 9.6875em;
  height: 28.25em;
  top: 3.0625em;
  left: 34.25em;
}

.frame-map .photo4 {
  position: absolute;
  width: 18.5em;
  height: 14.1875em;
  left: 3.125em;
  bottom: 3.1875em;
}

.frame-map .photo5 {
  position: absolute;
  width: 12em;
  height: 14.1875em;
  left: 21.9375em;
  bottom: 3.1875em;
}

.map-img.map-img-h2:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: 4.75em;
}

.map-img-h2 .location-pin {
  top: 0em;
  bottom: 3.4375em;
  margin: auto;
}

.case-text .title-about {
  bottom: 12.375rem;
  z-index: 1;
}

.case-text .text-white {
  bottom: 10.5rem;
  z-index: 1;
}

.apostrophe-fix {
  font-family: Arial;
  font-size: 0.714285714em;
  top: -0.114285714em;
  position: relative;
}

.banner-nav {
  width: 100%;
  height: 3.375em;
  position: absolute;
  bottom: 0;
  background: #ff9d1e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa932), to(#fe8d01));
  background: -moz-linear-gradient(top, #ffa932, #fe8d01);
  background: -ms-linear-gradient(top, #ffa932, #fe8d01);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#ffa932, endColorstr:#fe8d01);
  background: gradient(linear, top, bottom, from(#ffa932), to(#fe8d01));
}

.banner-nav-ctrls {
  width: 13.5rem;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
}

.banner-nav-text {
  font: bold 1.0125rem/3.25rem Bariol, Arial;
  color: #1c1c1c;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  left: 0.875rem;
  cursor: default;
}

.banner-nav .widget-icon {
  position: absolute;
  left: 2.9375rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.arrow-left, .arrow-right {
  position: absolute;
  display: block;
  width: 0.625em;
  height: 1.1875em;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}

.arrow-left {
  background: url(../img/icon/prev.png) no-repeat;
  background-size: 100%;
  left: 0;
}

.arrow-right {
  background: blue;
  background: url(../img/icon/next.png) no-repeat;
  right: 0;
  background-size: 100%;
}

.progress-ct {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 4.3125em;
  text-align: center;
  cursor: default;
  z-index: 1;
}

.pdot {
  display: inline-block;
  border: 2px solid #dedede;
  border-radius: 10em;
  width: 1em;
  height: 1em;
  margin: 0 0.1875em;
  cursor: pointer;
}
.pdot.active {
  border: none;
  background: #fe8d00;
}

.content-copy-ct {
  width: 62.642857143%;
  margin: 0 auto;
  padding-top: 7.5em;
  padding-bottom: 8.125em;
  position: relative;
}
.content-copy-ct:after {
  content: "";
  display: table;
  clear: both;
}

.content-left {
  width: 81.41391106%;
  padding-right: 12.542759407%;
  float: left;
}

.content-right {
  width: 38.768529076%;
  position: absolute;
  right: -19.384264538%;
  float: left;
}

.content-right .title-desc {
  padding-bottom: 0;
}

.content-right .text-normal {
  padding-bottom: 1em;
}

.title-desc {
  font: bolder 1.875em Gentona, Arial;
  color: #232323;
  padding-bottom: 1em;
  position: relative;
}

.title-desc.accent-line:before {
  content: "";
  position: absolute;
  width: 4.333333333em;
  height: 0.1em;
  top: -0.733333333em;
  background: #fe8d00;
  border-radius: 10em;
  -webkit-transition: background 0.9s;
  transition: background 0.9s;
}

.text-normal {
  font: 1.25em/1.6em Bariol, Arial;
  color: #767676;
}

.design-feature {
  text-align: center;
  padding-bottom: 7.5em;
}

.nav-widget.case-widget {
  top: auto;
  padding-left: 0.875em;
  bottom: 8em;
}

.section-case {
  padding-bottom: 9.375em;
}

.case-wrapper.lean-cuisine .case-widget {
  background: #ff9b1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9b1f), to(#fe8d00));
  background: -moz-linear-gradient(top, #ff9b1f, #fe8d00);
  background: -ms-linear-gradient(top, #ff9b1f, #fe8d00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#ff9b1f, endColorstr:#fe8d00);
  background: gradient(linear, top, bottom, from(#ff9b1f), to(#fe8d00));
}
.case-wrapper.lean-cuisine .case-widget .widget-btn {
  background-color: #da8319;
}
.case-wrapper.lean-cuisine .pdot.active {
  background-color: #ff9b1f;
}

.case-wrapper.lean-pockets .banner-nav {
  background: #87c51a;
  background: -webkit-gradient(linear, left top, left bottom, from(#87c51a), to(#76ae11));
  background: -moz-linear-gradient(top, #87c51a, #76ae11);
  background: -ms-linear-gradient(top, #87c51a, #76ae11);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#87c51a, endColorstr:#76ae11);
  background: gradient(linear, top, bottom, from(#87c51a), to(#76ae11));
}
.case-wrapper.lean-pockets .accent-line:before {
  background: #78b212;
}
.case-wrapper.lean-pockets .case-widget {
  background: #87c51a;
  background: -webkit-gradient(linear, left top, left bottom, from(#87c51a), to(#76ae11));
  background: -moz-linear-gradient(top, #87c51a, #76ae11);
  background: -ms-linear-gradient(top, #87c51a, #76ae11);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#87c51a, endColorstr:#76ae11);
  background: gradient(linear, top, bottom, from(#87c51a), to(#76ae11));
}
.case-wrapper.lean-pockets .case-widget .widget-btn {
  background-color: #66970f;
}
.case-wrapper.lean-pockets .pdot.active {
  background-color: #87c51a;
}

.title-about.move-down {
  bottom: 9.25rem;
}

.text-white.move-down {
  bottom: 6.6875rem;
}

.case-wrapper.logos .banner-nav {
  background: #d820af;
  background: -webkit-gradient(linear, left top, left bottom, from(#d820af), to(#c81da2));
  background: -moz-linear-gradient(top, #d820af, #c81da2);
  background: -ms-linear-gradient(top, #d820af, #c81da2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#d820af, endColorstr:#c81da2);
  background: gradient(linear, top, bottom, from(#d820af), to(#c81da2));
}
.case-wrapper.logos .accent-line:before {
  background: #c81ca2;
}
.case-wrapper.logos .case-widget {
  background: #d820af;
  background: -webkit-gradient(linear, left top, left bottom, from(#d820af), to(#c81da2));
  background: -moz-linear-gradient(top, #d820af, #c81da2);
  background: -ms-linear-gradient(top, #d820af, #c81da2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#d820af, endColorstr:#c81da2);
  background: gradient(linear, top, bottom, from(#d820af), to(#c81da2));
}
.case-wrapper.logos .case-widget .widget-btn {
  background-color: #b21a90;
}
.case-wrapper.logos .pdot.active {
  background-color: #d820af;
}

.case-wrapper.hwmfty .banner-nav {
  background: #2eace4;
  background: -webkit-gradient(linear, left top, left bottom, from(#2eace4), to(#1c94c9));
  background: -moz-linear-gradient(top, #2eace4, #1c94c9);
  background: -ms-linear-gradient(top, #2eace4, #1c94c9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#2eace4, endColorstr:#1c94c9);
  background: gradient(linear, top, bottom, from(#2eace4), to(#1c94c9));
}
.case-wrapper.hwmfty .accent-line:before {
  background: #1c93c8;
}
.case-wrapper.hwmfty .case-widget {
  background: #2eace4;
  background: -webkit-gradient(linear, left top, left bottom, from(#2eace4), to(#1c94c9));
  background: -moz-linear-gradient(top, #2eace4, #1c94c9);
  background: -ms-linear-gradient(top, #2eace4, #1c94c9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#2eace4, endColorstr:#1c94c9);
  background: gradient(linear, top, bottom, from(#2eace4), to(#1c94c9));
}
.case-wrapper.hwmfty .case-widget .widget-btn {
  background-color: #1984b3;
}
.case-wrapper.hwmfty .pdot.active {
  background-color: #2eace4;
}

.case-wrapper.threshold .banner-nav {
  background: #fcc73a;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc73a), to(#febd10));
  background: -moz-linear-gradient(top, #fcc73a, #febd10);
  background: -ms-linear-gradient(top, #fcc73a, #febd10);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#fcc73a, endColorstr:#febd10);
  background: gradient(linear, top, bottom, from(#fcc73a), to(#febd10));
}
.case-wrapper.threshold .accent-line:before {
  background: #febd10;
}
.case-wrapper.threshold .case-widget {
  background: #fcc73a;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc73a), to(#febd10));
  background: -moz-linear-gradient(top, #fcc73a, #febd10);
  background: -ms-linear-gradient(top, #fcc73a, #febd10);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#fcc73a, endColorstr:#febd10);
  background: gradient(linear, top, bottom, from(#fcc73a), to(#febd10));
}
.case-wrapper.threshold .case-widget .widget-btn {
  background-color: #f3b101;
}
.case-wrapper.threshold .pdot.active {
  background-color: #fcc73a;
}

.case-wrapper.recipes .banner-nav {
  background: #2069e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#2069e3), to(#1d5cc6));
  background: -moz-linear-gradient(top, #2069e3, #1d5cc6);
  background: -ms-linear-gradient(top, #2069e3, #1d5cc6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#2069e3, endColorstr:#1d5cc6);
  background: gradient(linear, top, bottom, from(#2069e3), to(#1d5cc6));
}
.case-wrapper.recipes .accent-line:before {
  background: #1d5cc5;
}
.case-wrapper.recipes .case-widget {
  background: #2069e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#2069e3), to(#1d5cc6));
  background: -moz-linear-gradient(top, #2069e3, #1d5cc6);
  background: -ms-linear-gradient(top, #2069e3, #1d5cc6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:#2069e3, endColorstr:#1d5cc6);
  background: gradient(linear, top, bottom, from(#2069e3), to(#1d5cc6));
}
.case-wrapper.recipes .case-widget .widget-btn {
  background-color: #1a52b0;
}
.case-wrapper.recipes .pdot.active {
  background-color: #2069e3;
}

.swipe-ct .swipe-slide[data-slide="lean-cuisine"] {
  background-image: url(../img/case/lean-cuisine-feature.jpg);
}
.swipe-ct .swipe-slide[data-slide="lean-pockets"] {
  background-image: url(../img/case/lean-pockets-feature.jpg);
}
.swipe-ct .swipe-slide[data-slide="logos"] {
  background-image: url(../img/case/logos-feature.jpg);
}
.swipe-ct .swipe-slide[data-slide="hwmfty"] {
  background-image: url(../img/case/hwmfty-feature.jpg);
}
.swipe-ct .swipe-slide[data-slide="threshold"] {
  background-image: url(../img/case/threshold-feature.jpg);
}
.swipe-ct .swipe-slide[data-slide="recipes"] {
  background-image: url(../img/case/recipes-feature.jpg);
}

.case-wrapper .swipe-ct {
  width: 660%;
}

.banner {
  width: 100%;
  overflow: hidden;
}

.case-wrapper .section-case {
  display: none;
}
.case-wrapper.lean-cuisine [data-section="lean-cuisine"] {
  display: block;
}
.case-wrapper.lean-pockets [data-section="lean-pockets"] {
  display: block;
}
.case-wrapper.logos [data-section="logos"] {
  display: block;
}
.case-wrapper.hwmfty [data-section="hwmfty"] {
  display: block;
}
.case-wrapper.threshold [data-section="threshold"] {
  display: block;
}
.case-wrapper.recipes [data-section="recipes"] {
  display: block;
}
