@font-face
	font-family: Bariol
	src: url(fonts/web/bariol_regular.eot?#iefix) format('embedded-opentype'), url(fonts/Bariol_Regular.otf)

@font-face
	font-family: 'Bariol'
	src: url(fonts/web/bariol_bold.eot?#iefix) format('embedded-opentype'), url(fonts/Bariol_Bold.otf)
	font-weight: bold

@font-face
	font-family: Gentona
	src: url(fonts/web/gentona.eot?#iefix) format('embedded-opentype'), url(fonts/Gentona.otf)

@font-face
	font-family: 'Gentona'
	src: url(fonts/web/gentona_extrabold_demo.eot?#iefix) format('embedded-opentype'), url(fonts/Gentona_ExtraBold_DEMO.otf), url(fonts/web/gentona_extrabold_demo.otf)
	font-weight: bolder

@font-face
	font-family: 'Proxima Nova'
	src: url(fonts/web/proximanova_extrabld.eot?#iefix) format('embedded-opentype'), url(fonts/ProximaNova-Extrabld.otf)
	font-weight: bolder


$baz: Bariol//, Arial
$gent: Gentona//, Arial
$prox: Proxima Nova//, Arial




//example font
// @font-face {
//     font-family: 'mfg_labs_iconsetregular';
//     src: url('css/fonts/mfglabsiconset-webfont.eot');
//     src: 
//          url('css/fonts/mfglabsiconset-webfont.woff') format('woff'),
//          url('css/fonts/mfglabsiconset-webfont.ttf') format('truetype'),
//          url('css/fonts/mfglabsiconset-webfont.svg#mfg_labs_iconsetregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
